.cabeza2 {
    text-align: center;
    padding: 15px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    margin-top: 30%;
    padding: 15px;
  }
  

.img1 {
    width: 25%;
    height: auto;
}

.img2 {
    width: 75%;
    height: auto;
}


.custom-button {
    --background: linear-gradient(to right, #3498db, #2980b9);
    --color: #ffffff; 
    --border-radius: 10px; 
    font-weight: bold;
}

.custom-button:hover {
    --background: linear-gradient(to right, #2980b9, #3498db); 
}

.custom-heading {
    font-size: 1.5rem;
    color: #333; 
    font-weight: bold;
  }

.btn1 {
    text-align: center;
}

.buttons {
    transform: scale(1);
    transition: transform 0.7s;
}

.buttons:hover {
    transform: scale(1.04);
}

div.btn2 ion-button {
    text-transform: capitalize;
    text-align: left;
    text-decoration: underline;
}
